<span *ngIf="stringifiedStats.length > 0">{{stringifiedStats}}</span>
<div *ngIf="stringifiedStats.length == 0" class="grid bg-gray-50">
  <div class="col-6">
    <p-card header="Correct Letters" class="m-2">
      <input type="text" pInputText [(ngModel)]="correctLetters[0]" (ngModelChange)="correctLetters[0] = $event.toUpperCase()" maxlength="1" class="w-3rem m-1 text-center text-white font-bold" (keyup)="onFilter()" [ngClass]="{'bg-green-700': !!correctLetters[0]}">
      <input type="text" pInputText [(ngModel)]="correctLetters[1]" (ngModelChange)="correctLetters[1] = $event.toUpperCase()" maxlength="1" class="w-3rem m-1 text-center text-white font-bold" (keyup)="onFilter()" [ngClass]="{'bg-green-700': !!correctLetters[1]}">
      <input type="text" pInputText [(ngModel)]="correctLetters[2]" (ngModelChange)="correctLetters[2] = $event.toUpperCase()" maxlength="1" class="w-3rem m-1 text-center text-white font-bold" (keyup)="onFilter()" [ngClass]="{'bg-green-700': !!correctLetters[2]}">
      <input type="text" pInputText [(ngModel)]="correctLetters[3]" (ngModelChange)="correctLetters[3] = $event.toUpperCase()" maxlength="1" class="w-3rem m-1 text-center text-white font-bold" (keyup)="onFilter()" [ngClass]="{'bg-green-700': !!correctLetters[3]}">
      <input type="text" pInputText [(ngModel)]="correctLetters[4]" (ngModelChange)="correctLetters[4] = $event.toUpperCase()" maxlength="1" class="w-3rem m-1 text-center text-white font-bold" (keyup)="onFilter()" [ngClass]="{'bg-green-700': !!correctLetters[4]}">
    </p-card>
    <p-card header="Misplaced Letters" class="m-2">
      <p-chips *ngFor="let index of [0,1,2,3,4]" [(ngModel)]="misplacedLetters[index]" (ngModelChange)="logMisplacedLetter($event, index)" (onAdd)="onFilter()" (onRemove)="onFilter()" [allowDuplicate]="false" [styleClass]="''">
      </p-chips>
    </p-card>
    <p-card header="Incorrect Letters">
      <div *ngFor="let row of invalidLettersArray; let rowIndex = index" class="m-1">
        <div *ngIf="rowIndex == 1 || rowIndex == 2" class="min-w-1rem h-1rem inline m-1 text-white">m</div>
        <div *ngIf="rowIndex == 2" class="min-w-1rem h-1rem inline m-1 text-white">m</div>
        <p-toggleButton *ngFor="let letter of row; let letterIndex = index" [onLabel]="letter.letter" [offLabel]="letter.letter" [styleClass]="'m-1 w-2rem p-0 h-2rem'" (onChange)="onToggleInvalidKey($event, rowIndex, letterIndex)"></p-toggleButton>
      </div>
    </p-card>
  </div>
  <div class="col-6">
    <p-scrollPanel [style]="{width: '100%', height: '95vh'}">
      <p-table [value]="filteredStats">
        <ng-template pTemplate="header">
          <tr>
            <th>Word</th>
            <th>Score</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stat>
          <tr>
            <td><i *ngIf="!!getHistoryForWord(stat.word)" class="pi pi-exclamation-circle m-1" [title]="getHistoryForWord(stat.word)"></i>{{stat.word}}</td>
            <td>{{stat.totalScore.toFixed(4)}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-scrollPanel>
    
  </div>
</div>