/* :host ::ng-deep .p-togglebutton.p-button.p-highlight{
    background-color: white;
    border-color: white;
    color: gray !important;
}

:host ::ng-deep .p-togglebutton.p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px white, 0 1px 2px 0 black
} */