<h5>Correct Letters</h5>
<input type="text" pInputText [(ngModel)]="correctLetter1" maxlength="1" class="w-3rem" (keyup)="onFilter()">
<input type="text" pInputText [(ngModel)]="correctLetter2" maxlength="1" class="w-3rem" (keyup)="onFilter()">
<input type="text" pInputText [(ngModel)]="correctLetter3" maxlength="1" class="w-3rem" (keyup)="onFilter()">
<input type="text" pInputText [(ngModel)]="correctLetter4" maxlength="1" class="w-3rem" (keyup)="onFilter()">
<input type="text" pInputText [(ngModel)]="correctLetter5" maxlength="1" class="w-3rem" (keyup)="onFilter()">
<h5>Invalid Letters</h5>
<input type="text" pInputText [(ngModel)]="invalidLetters" (keyup)="onFilter()">

<table>
  <thead>
    <th>word</th>
    <th>score</th>
  </thead>
  <tbody>
    <tr *ngFor="let stat of filteredStats">
      <td>{{stat.word}}</td>
      <td>{{stat.totalScore}}</td>
    </tr>
  </tbody>

</table>